<!DOCTYPE html>
<html>
<head>
    <title>ChiConnect</title>
    
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <link rel="stylesheet" type="text/css" href="[[ url_for('static', filename='styles/index.css') ]]">
    
    <script type='text/javascript' src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=[[api_key]]'></script>

    <script type='text/javascript' src="[[ url_for('static', filename='search.js') ]]" defer></script>
    <style>
        .businessInformation {
            text-align: center;
        }
    </style>
</head>
<body>
    
    <div id="search">
        
        <button type="button" @click="goBack" class="small-button">Back to Home</button>

        <!-- <button type="button"  @click="goToReviewPage" class="small-button">Review</button> -->


        <form method="post" action="/search">
            <input type="hidden" name="searchQuery" id="businessName" :value=""/>
            <button type="submit" class="small-button">
                Review
            <!-- <input type="hidden" name="searchQueryName" :value="business.name"> -->
                <!-- {{ business }} -->
                <!-- {{ business.name }} -->
            </button>
        </form>
        
        <script type='text/javascript'>
            var data = JSON.parse([[query | tojson | safe]]);
            document.getElementById("businessName").value = data.name;
            console.log(data.name);
        </script>
        
        <!-- <button type="button" @click="goBack" class="small-button">Back to Home</button> -->

        <div class="businessInformation">
            <h1><span id="name"></h1>
            <h2><span id="description"></span></h2>
            <h2><span id="phone"></span></h2>
            <h2><span id="address"></span></h2>
            <h2>Rating: <span id="thumbsUp"></span></h2>
            <h2><span id="reviews"></span></h2>
        </div>
        <!-- <input type="hidden" name="searchQueryName" :value="data.name"> -->

        <script type='text/javascript'>
            var reviews = data.reviews;
            // var name = data.name;

            document.getElementById("name").innerHTML = data.name;
            document.getElementById("description").innerHTML = data.description;
            document.getElementById("phone").innerHTML = data.phone;
            document.getElementById("address").innerHTML = data.address;
            document.getElementById("thumbsUp").innerHTML = data.thumbsUp;

            for (var x = 0; x < reviews.length; x++) {
                document.write("<h3>"+reviews[x].username+": "+reviews[x].description+"</h3>")
                // document.write("<h2>"+reviews[x].description+"</h2>")
            }
            
        </script>
        <!-- <div class="search-wrapper panel-heading col-sm-12">
            <input type="text" v-model="search" placeholder="Search" /> <br> <br>
        </div>   -->
        
        <div id='printoutPanel'></div>
        
        <!-- <div id='myMap' style='width: 100vw; height: 100vh;'></div> -->
        <div id='mapOverlay'>
            <form action="https://forms.gle/j56hbj8SsZWFvM388" method="get" target="_blank">
                <button type="submit" id="addBusinessButton">Add Business</button>
            </form>
        </div>
    </div>
    <!-- In your reviews.html file -->
    <div id="review-app">
        <div>
          <button id="thumbs-up" type="toggle" class="button inactive">👍</button>
          <button id="thumbs-down" type="toggle" class="button inactive" >👎</button>
        </div>
    </div>
    <div id="review-app">
        <div>
            <button type="button" @click="Submit" class="small-button">Submit</button>
        </div>
    </div>
    <div>
        <button id="friendly-staff" type="toggle"  class="button inactive">Friendly Staff </button>
        <button id="fair-pricing" type="toggle"  class="button inactive">Fair Pricing </button>
        <button id="fast-service" type="toggle"  class="button inactive">Fast Service </button>
        <button id="clean" type="toggle"  class="button inactive">Fair Pricing </button>
      </div>
  </div>
  
</body>
</html>